@charset "UTF-8";
html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 2px;
  line-height: 32px;
  color: #171717;
}

* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: #171717;
}

.btn {
  max-width: 350px;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background-color: #cae15e;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  cursor: pointer;
}
.btn:hover {
  background-color: #fff;
  border: 2px solid #cae15e;
  color: #cae15e;
}

.sec-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
}
.sec-title span {
  display: block;
}
.sec-title span:nth-child(1) {
  height: 2px;
  width: 25px;
  background-color: #cae15e;
  margin-left: 8px;
}
.sec-title span:nth-child(2) {
  font-size: 18px;
  color: #cae15e;
  font-weight: 500;
  margin-left: 8px;
}

.logo {
  width: 100px;
  height: 80px;
}
.logo > img {
  width: 100%;
  height: 100%;
}

.inview.header__inner .logo {
  opacity: 0;
}
.inview.title {
  transform: none;
}
.inview.about__img .backgroud .cover {
  animation-name: slide;
  animation-timing-function: ease-in-out;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.inview.strong__img .backgroud .cover {
  animation-name: slide;
  animation-timing-function: ease-in-out;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.inview.product__img .backgroud .cover {
  animation-name: slide;
  animation-timing-function: ease-in-out;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.inview.new__img .backgroud .cover {
  animation-name: slide;
  animation-timing-function: ease-in-out;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.inview.news__img .backgroud .cover {
  animation-name: slide;
  animation-timing-function: ease-in-out;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes slide {
  0% {
    right: 100%;
  }
  50% {
    left: 0;
    right: 0;
  }
  100% {
    left: 100%;
  }
}
/*header*/
.header {
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 99;
}
.header .logo {
  transition: all 0.4s ease;
}
.header__inner {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  display: none;
}
.header__li > a {
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__li > a::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: #cae15e;
  margin-top: 8px;
  transform: translateY(8px);
  opacity: 0;
  transition: all 0.4s ease;
}
.header__li > a:hover {
  color: #cae15e;
}
.header__li > a:hover::after {
  transform: none;
  opacity: 1;
}

.mobile-button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: green;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.mobile-button > span {
  display: block;
  width: 25px;
  height: 1px;
  background-color: #fff;
  transition: all 0.4s ease;
}
.mobile-button > span:nth-child(1) {
  margin-bottom: 8px;
}
.mobile-button > span:nth-child(2) {
  margin-bottom: 8px;
}

.mobile__menu {
  z-index: -99;
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 60%;
  background-color: #fff;
  transform: translateX(100%);
  transition: all 0.4s ease;
}
.mobile__ul {
  margin-left: 16px;
}
.mobile__li {
  transition: all 1s ease;
  opacity: 1;
  font-size: 24px;
  font-weight: 500;
  margin: 24px 0;
}
.mobile__li:first-child {
  width: 100px;
  height: 100px;
}
.mobile__li span {
  display: block;
  color: #cae15e;
  font-size: 18px;
}

.menu-open.mobile-button > span:nth-child(1) {
  transform: translateY(8px) rotate(-135deg);
}
.menu-open.mobile-button > span:nth-child(2) {
  transform: translateY(-8px);
  opacity: 0;
}
.menu-open.mobile-button > span:nth-child(3) {
  transform: translateY(-8px) rotate(135deg);
}
.menu-open.mobile__menu {
  transform: none;
}
.menu-open.mobile__li {
  opacity: 1;
}

.view {
  width: 100%;
  height: auto;
  padding-top: 80px;
  overflow: hidden;
}
.view__img {
  width: 80%;
  height: 500px;
  margin: 24px auto 0;
  position: relative;
  z-index: 2;
}
.view__img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -24px;
  right: -20%;
  background-color: #cae15e;
  z-index: -1;
  border-radius: 25px;
}
.view__img > img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}
.view__title {
  position: absolute;
  bottom: 0;
  left: -16px;
  z-index: 2;
  overflow: hidden;
}
.view__title span {
  display: inline-block;
  margin-bottom: 24px;
  padding: 8px;
  color: #fff;
  background-color: #cae15e;
  transform: translateX(-100%);
  transition: all 1s ease;
}

.about {
  margin-top: 150px;
}
.about__inner {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.about .sec-title {
  margin-top: 32px;
}
.about__text {
  margin: 32px 0;
}
.about__img {
  width: 100%;
  height: auto;
  position: relative;
}
.about__img .backgroud {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  border-radius: 25px;
  overflow: hidden;
}
.about__img .backgroud .cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  transition: all 2s;
}
.about__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
  border-radius: 25px;
}

.strong {
  margin-top: 150px;
}
.strong__inner {
  max-width: 1200px;
  width: 100%;
  background-color: #cae15e;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.strong .sec-title {
  flex-direction: column;
  margin-bottom: 64px;
}
.strong .sec-title span {
  margin-left: 0;
  margin-top: 8px;
  line-height: normal;
}
.strong__img {
  width: 100%;
  height: 400px;
  position: relative;
}
.strong__img .backgroud {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  border-radius: 25px;
  overflow: hidden;
}
.strong__img .backgroud .cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  transition: all 2s;
}
.strong__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}
.strong__item {
  width: 90%;
  margin: 32px 0;
}
.strong__item:nth-child(2) .inview .backgroud .cover {
  animation-delay: 0.2s;
}
.strong__item:nth-child(3) .inview .backgroud .cover {
  animation-delay: 0.4s;
}
.strong__text {
  margin-top: 24px;
  color: #fff;
}
.strong .btn {
  width: 90%;
  border: 1px solid #fff;
  background-color: #cae15e;
  margin-bottom: 32px;
  transition: all 0.4s ease;
}
.strong .btn:hover {
  background-color: #fff;
  color: #cae15e;
}

.product {
  margin-top: 150px;
}
.product .sec-title {
  flex-direction: column;
  margin-bottom: 64px;
}
.product .sec-title span {
  margin-left: 0;
  margin-top: 8px;
  line-height: normal;
}
.product__inner {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.product__img {
  width: 100%;
  height: 250px;
  position: relative;
}
.product__img .backgroud {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  border-radius: 25px;
  overflow: hidden;
}
.product__img .backgroud .cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  transition: all 2s;
}
.product__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}
.product__item {
  margin: 56px 0;
}
.product__title {
  margin-top: 24px;
}
.product__text {
  margin: 24px 0;
}

.new {
  margin-top: 150px;
}
.new .sec-title {
  justify-content: center;
  margin-bottom: 64px;
}
.new__inner {
  max-width: 1200px;
  width: 100%;
  background-color: #f5f5f5;
}
.new__title {
  font-size: 24px;
  color: #cae15e;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.new__title::after {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: #cae15e;
  margin-top: 8px;
}
.new__house {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 56px;
}
.new__man {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 56px;
  padding-bottom: 56px;
}
.new__item {
  width: 90%;
  margin: 32px 0;
  cursor: pointer;
}
.new__img {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 25px;
  position: relative;
}
.new__img .backgroud {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  border-radius: 25px;
  overflow: hidden;
  background-color: transparent;
  pointer-events: none;
}
.new__img .backgroud .cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  transition: all 2s;
  animation-delay: 0.2s;
}
.new__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
  transition: all 0.4s ease;
}
.new__img img:hover {
  transform: scale(1.2);
}
.new__name {
  font-size: 18px;
  font-weight: 500;
}

.news {
  margin: 150px 0;
}
.news .sec-title {
  flex-direction: column;
  margin-bottom: 64px;
}
.news .sec-title span {
  margin-left: 0;
  margin-top: 8px;
}
.news__inner {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.news__item {
  width: 100%;
  margin: 56px 0;
}
.news__img {
  width: 90%;
  height: 250px;
  margin: 0 auto;
  background-color: #cae15e;
  border-radius: 25px;
  position: relative;
}
.news__img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
  border-radius: 25px;
}
.news__img .backgroud {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  border-radius: 25px;
  overflow: hidden;
}
.news__img .backgroud .cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  transition: all 2s;
}
.news__title {
  margin: 8px 0;
  font-weight: 500;
  line-height: normal;
  color: #cae15e;
}
.news__day {
  margin-top: 8px;
}

.footer {
  width: 100%;
  background-color: #f7f7f7;
}
.footer__inner {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.footer__left {
  padding-top: 24px;
}
.footer__left .logo {
  width: 120px;
  height: 100px;
}
.footer__center {
  margin-top: 32px;
}
.footer__li {
  margin-top: 24px;
  font-weight: 500;
}
.footer__li > a {
  transition: all 0.4s ease;
}
.footer__li > a:hover {
  color: #cae15e;
}
.footer__right {
  margin-top: 32px;
}
.footer__sns {
  display: flex;
  margin-bottom: 24px;
}
.footer__snsli {
  width: 25px;
  height: 25px;
  margin-left: 24px;
}
.footer__snsli:first-child {
  margin-left: 0;
}
.footer__snsli a img {
  width: 100%;
  height: 100%;
}
.footer small {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

@media (min-width: 600px) {
  .strong__text {
    margin-top: 18px;
    font-size: 18px;
    color: #fff;
  }
  .news__img {
    height: 300px;
  }
  .news .btn {
    margin: 0 auto;
  }
}
@media (min-width: 960px) {
  .inview.header__inner .header__nav {
    transform: translateX(150vh);
    opacity: 0;
  }
  .inview.header__inner .mobile-button {
    transform: translateX(140vh);
    opacity: 1;
  }
  .inview.mobile__menu {
    display: block;
    width: 30%;
  }
  /*header*/
  .header__nav {
    display: block;
    transition: all 1s ease;
  }
  .header__ul {
    display: flex;
    align-items: center;
  }
  .header__li {
    margin-left: 32px;
    font-weight: 500;
    transition: all 0.4s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile-button {
    transform: translateX(-30px);
    opacity: 0;
    transition: all 1s ease;
  }
  .mobile__menu {
    display: none;
  }
  .view {
    width: 100%;
    height: auto;
    padding-top: 80px;
    overflow: hidden;
  }
  .view__img {
    width: 90%;
    height: 100vh;
    margin: 24px auto 0;
    position: relative;
    z-index: 2;
  }
  .view__img > img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -o-object-fit: cover;
       object-fit: cover;
    vertical-align: bottom;
  }
  .view__img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -24px;
    right: -20%;
    background-color: #cae15e;
    z-index: -1;
    border-radius: 25px;
  }
  .view__title {
    position: absolute;
    bottom: 20%;
    left: -16px;
    z-index: 2;
  }
  .view__title span {
    font-size: 32px;
  }
  .about {
    margin-top: 200px;
  }
  .about__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .about__content {
    width: 40%;
  }
  .about__img {
    width: 50%;
    height: auto;
    position: relative;
    z-index: 2;
  }
  .about__img::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -56px;
    width: 750px;
    height: 200px;
    background-color: #cae15e;
    margin-left: calc(50% - 50vw);
    z-index: -1;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .about__img img {
    vertical-align: bottom;
  }
  .strong {
    margin-top: 200px;
  }
  .strong__inner {
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    background-color: unset;
    z-index: 2;
    padding-bottom: 40px;
  }
  .strong__img {
    width: 100%;
    height: 350px;
  }
  .strong__item {
    width: 30%;
  }
  .strong__ground {
    position: relative;
  }
  .strong__ground::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: calc(50% - 50vw);
    height: 400px;
    width: 98%;
    background-color: #cae15e;
    z-index: -1;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .strong .btn {
    margin: 0 auto;
  }
  .rev .product__img {
    position: absolute;
    right: 0;
    margin-left: 0; /* 左マージンをリセット */
    margin-right: calc(50% - 50vw); /* 右マージンを調整 */
  }
  .rev .product__img img {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .rev.product__item::before {
    right: 0;
    margin-right: calc(50% - 50vh);
    margin-left: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .product {
    margin-top: 200px;
  }
  .product__img {
    width: 60%;
    height: 350px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: calc(50% - 50vw);
  }
  .product__img img {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .product__item {
    margin: 150px 0;
    position: relative;
    height: 400px;
  }
  .product__item:nth-child(1) {
    margin-top: 0;
  }
  .product__item::before {
    content: "";
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: -56px;
    left: 0;
    padding-left: calc(50vw - 50%);
    margin-left: calc(50% - 50vw);
    background-color: #cae15e;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: -1;
  }
  .product__content {
    width: 50%;
    border-radius: 25px;
    background-color: #fff;
    padding: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .product__title {
    margin-top: 0;
    line-height: normal;
  }
  .product__text {
    margin: 24px 0;
  }
  .new {
    margin-top: 200px;
  }
  .new__house {
    gap: 24px;
  }
  .new__man {
    gap: 24px;
  }
  .new__item {
    width: 30%;
    margin-top: 0;
  }
  .new__title {
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    line-height: normal;
  }
  .new__img {
    height: 200px;
  }
  .news {
    margin: 200px 0;
  }
  .news .sec-title {
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
  }
  .news .sec-title span {
    margin-left: 8px;
    margin-top: 0;
  }
  .news__inner {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: "area1 area2";
    gap: 24px;
    position: relative;
  }
  .news__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    grid-column: 2/4;
    grid-row: 1/2;
  }
  .news .sec-title {
    grid-area: area1;
  }
  .news .btn {
    grid-area: area1;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .news__item {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
  }
  .news__item:nth-child(2) {
    margin: 40px 0;
  }
  .news__img {
    width: 200px;
    height: 150px;
    margin-right: 16px;
    margin-left: 0;
  }
  .news__title {
    margin: 8px 0;
  }
  .news__day {
    margin-top: 0;
    font-size: 12px;
  }
  .news__text {
    font-size: 14px;
  }
  .footer {
    width: 100%;
    background-color: #f7f7f7;
  }
  .footer__inner {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer__left {
    padding-top: 24px;
  }
  .footer__li {
    margin-top: 24px;
    font-weight: 500;
  }
  .footer__right {
    margin-top: 24px;
    width: 30%;
  }
}
@media (min-width: 1200px) {
  .inview.header__inner .header__nav {
    transform: translateX(150vh);
    opacity: 0;
  }
  .inview.header__inner .mobile-button {
    transform: translateX(140vh);
    opacity: 1;
  }
  .inview.mobile__menu {
    display: block;
    width: 20%;
  }
  /*header*/
  .header__li {
    margin-left: 32px;
    font-weight: 500;
    font-size: 18px;
  }
  .view {
    width: 100%;
    height: auto;
    padding-top: 80px;
    overflow: hidden;
  }
  .view__img {
    width: 90%;
    height: 100vh;
    margin: 24px auto 0;
    position: relative;
    z-index: 2;
  }
  .view__img > img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -o-object-fit: cover;
       object-fit: cover;
    vertical-align: bottom;
  }
  .view__img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -24px;
    right: -20%;
    background-color: #cae15e;
    z-index: -1;
    border-radius: 25px;
  }
  .view__title {
    position: absolute;
    bottom: 20%;
    left: -16px;
    z-index: 2;
  }
  .view__title span {
    font-size: 48px;
    padding: 16px;
  }
  .about__img::before {
    width: 190%;
    height: 250px;
  }
  .strong__img {
    width: 100%;
    height: 450px;
  }
  .product__item {
    margin: 200px 0;
  }
  .product__item::before {
    height: 300px;
  }
  .product__img {
    height: 400px;
  }
  .product__content {
    width: 40%;
  }
  .new__inner {
    max-width: none;
  }
  .new__img {
    height: 250px;
  }
  .news {
    margin: 200px 0;
  }
  .news__inner {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: "area1 area2";
    gap: 24px;
    position: relative;
  }
  .news__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    grid-column: 2/4;
    grid-row: 1/2;
  }
  .news .sec-title {
    grid-area: area1;
  }
  .news .btn {
    grid-area: area1;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .news__item {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
  }
  .news__item:nth-child(2) {
    margin: 40px 0;
  }
  .news__img {
    width: 200px;
    height: 150px;
    margin-right: 16px;
    margin-left: 0;
  }
  .news__title {
    margin: 8px 0;
  }
  .news__day {
    margin-top: 0;
    font-size: 12px;
  }
  .news__text {
    font-size: 14px;
  }
  .footer {
    width: 100%;
    background-color: #f7f7f7;
  }
  .footer__inner {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer__left {
    padding-top: 24px;
  }
  .footer__li {
    margin-top: 24px;
    font-weight: 500;
  }
  .footer__right {
    margin-top: 24px;
    width: 30%;
  }
}
@media (min-width: 1800px) {
  .inview.header__inner .header__nav {
    transform: translateX(150vh);
    opacity: 0;
  }
  .inview.header__inner .mobile-button {
    transform: translateX(120vh);
    opacity: 1;
  }
  .inview.mobile__menu {
    display: block;
    width: 20%;
  }
  .about__img::before {
    width: 220%;
    height: 250px;
  }
  .strong__ground::before {
    width: 90%;
  }
  .product__item {
    margin: 200px 0;
  }
  .product__item::before {
    height: 300px;
  }
  .product__img {
    width: 80%;
  }
  .new__img {
    height: 350px;
  }
}/*# sourceMappingURL=style.css.map */